@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --bg-color: #1f1d2b;
  --text-color: #fff;
  --coral-color: #ff7551;
  --dodgerblue-color: #0190e3;
  --slateblue-color: #6c5ecf;
  --mediumseagreen-color: #22b07d;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: rgb(128 129 145 / 24%);
  --video-bg: #252936;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/body-bg.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(21, 20, 26, 0.63);
  border-radius: 1rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

video {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 144rem;
  max-height: 104rem;
  width: 100%;
  height: 95vh;
  margin: auto auto;
  border-radius: 2rem;
  background-color: var(--bg-color);
  display: flex;
}
@media screen and (max-width: 1439px) {
  .container {
    margin: auto 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    height: 100%;
    margin: 0;
    max-height: 100%;
    border-radius: 0;
  }
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: 0.4s;
  position: relative;
}

.main {
  padding: 0 6rem;
  padding-bottom: 6rem;
  overflow: auto;
}
@media screen and (max-width: 767px) {
  .main {
    padding: 0 3rem 3rem 3rem;
  }
}

.logo-container {
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.main-logo {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--text-color);
  height: 2rem;
}

.sub-logo {
  width: 3rem;
  height: 3rem;
  background-color: var(--mediumseagreen-color);
  color: var(--text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

@media screen and (max-width: 1023px) {
  .main-logo {
    display: none;
  }

  .sub-logo {
    display: flex;
  }
}
.sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  width: 22rem;
  flex: 0 0 22rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.4s;
}
.sidebar__menu, .sidebar__category {
  padding: 5rem 0;
  border-bottom: 1px solid #34373c;
}
.sidebar__title {
  color: var(--body-color);
  font-size: 1.1rem;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: 0.15rem;
  margin-bottom: 2.4rem;
  display: block;
}
.sidebar__item:not(:last-child) {
  margin-bottom: 3.2rem;
}
.sidebar__link, .sidebar__link:link, .sidebar__link:visited {
  display: flex;
  align-items: center;
  color: var(--body-color);
  font-size: 1.4rem;
  line-height: 110%;
  letter-spacing: 0.3px;
  font-weight: 600;
  text-transform: capitalize;
}
.sidebar__link.active {
  color: var(--text-color);
}
.sidebar__link.active .sidebar__icon {
  background-color: var(--coral-color);
}
.sidebar__icon {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 1.2rem;
  background-color: var(--button-bg);
}
.sidebar__icon svg {
  width: 1.6rem;
  height: 1.6rem;
}
@media screen and (max-width: 1060px) {
  .sidebar {
    width: 9rem;
    flex: 0 0 9rem;
    border-right: 1px solid #34373c;
  }
  .sidebar__title {
    display: none;
  }
  .sidebar__link span {
    display: none;
  }
  .sidebar__icon {
    margin: 0;
  }
}

.header {
  padding: 3rem 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 2rem;
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: inherit;
}
.header__form, .header__user {
  display: flex;
  align-items: center;
}
.header__form {
  max-width: 62.5rem;
  flex: 1;
  background-color: #363441;
  padding: 1.4rem 1.5rem 1.3rem 1.5rem;
  border-radius: 1rem;
  margin-right: 2rem;
}
.header__form input[type=text] {
  flex: 1;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-family: inherit;
  color: var(--body-color);
  width: 100%;
}
.header__user {
  margin-left: auto;
  margin-right: 3rem;
  cursor: pointer;
}
.header__user-img {
  border-radius: 50%;
  flex-shrink: 0;
}
.header__user-img img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__user-name {
  font-size: 1.3rem;
  line-height: 100%;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: var(--text-color);
  margin: 0 0.6rem 0 1.2rem;
}
.header__notification {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}
.header__notification::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--coral-color);
  border-radius: 50%;
  border: 1px solid transparent;
  box-sizing: content-box;
  position: absolute;
  right: -2px;
  top: -2px;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 3rem;
  }
  .header__user {
    margin: 0;
  }
  .header__user-name, .header__user img, .header__notification {
    display: none;
  }
  .header .header__user-img img {
    display: block;
  }
}

.time {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--text-color);
  padding: 0.5rem 0.8rem;
  background-color: rgba(36, 39, 48, 0.5);
  display: inline-block;
  border-radius: 0.7rem;
}

.view-time {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
  opacity: 0.8;
  display: flex;
  align-items: center;
}
.view-time span:nth-child(2) {
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin: 0 5px;
}

.blog {
  margin-bottom: 6rem;
}
.blog__heading {
  color: var(--text-color);
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 600;
  margin-bottom: 2.8rem;
}
.blog__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}
.blog__item {
  position: relative;
  background-image: url("../img/image1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 36.5rem;
  padding: 4rem;
  border-radius: 2rem;
  background-position-y: 15%;
  display: flex;
  flex-direction: column;
}
.blog__item-time {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.blog__item-title {
  max-width: 23.6rem;
  font-size: 3rem;
  line-height: 3.6rem;
  color: var(--text-color);
  letter-spacing: 0.3px;
  margin-bottom: 3rem;
}
.blog__item-author {
  display: flex;
  align-items: center;
}
.blog__item-author .author-img {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  position: relative;
  margin-right: 1rem;
}
.blog__item-author .author-img img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: inherit;
}
.blog__item-author .author-img .tick {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color);
  border-radius: 50%;
  border: 2px solid #0daabc;
  bottom: 0.1rem;
  right: 0;
}
.blog__item-author .author-img .tick i {
  font-size: 0.8rem;
  color: #0daabc;
}
.blog__item-author .author-name {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--text-color);
  margin-bottom: 1rem;
}
.blog__item + .blog__item {
  background-image: url("../img/image2.png");
  background-position-y: 0;
}
.blog__item + .blog__item .blog__item-title {
  max-width: 23rem;
  margin-bottom: 2rem;
}
.blog__item + .blog__item .blog__item-author .author-img .tick {
  border-color: #d9a45a;
}
.blog__item + .blog__item .blog__item-author .author-img .tick i {
  color: #d9a45a;
}
.blog__item + .blog__item .blog__item-author {
  flex-direction: column-reverse;
  align-items: flex-start;
}
.blog__item + .blog__item .blog__item-author .author-img {
  margin-top: 1rem;
}
@media screen and (max-width: 1023px) {
  .blog__content {
    grid-template-columns: repeat(auto-fit, minmax(25.9rem, 1fr));
  }
  .blog__item + .blog__item .blog__item-author {
    flex-direction: unset;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .blog__content {
    grid-template-columns: 1fr;
  }
  .blog__item-title {
    font-size: 2rem;
    line-height: 2.6rem;
    letter-spacing: 0.3px;
    margin-bottom: 3rem;
    max-width: 100%;
  }
  .blog__item + .blog__item .blog__item-title {
    max-width: 100%;
  }
  .blog__item-author {
    margin-top: auto;
  }
  .blog__item-author, .blog__item + .blog__item .blog__item-author {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .blog__item-author .author-img, .blog__item + .blog__item .blog__item-author .author-img {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 374px) {
  .blog__item {
    padding: 2rem;
  }
  .blog .author-img {
    transform: scale(0.8);
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  background-color: var(--video-bg);
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
}
.card__time {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  transition: all 0.4s ease;
}
.card__top {
  border-radius: 2rem 2rem 0 0;
  height: 16rem;
  position: relative;
}
.card .video-wrapper {
  height: 16rem;
  transition: all 0.4s ease;
}
.card .video-wrapper video {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}
.card__author {
  position: absolute;
  right: 2rem;
  bottom: -3rem;
  transition: all 0.4s ease;
}
.card__author-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card__author img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: inherit;
}
.card__author-tick {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dodgerblue-color);
  border-radius: 50%;
  border: 2px solid var(--video-bg);
  right: 0;
  bottom: 0.1rem;
}
.card__author-tick i {
  font-size: 1rem;
  color: var(--text-color);
}
.card__bottom {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card .video-by {
  color: #b7b9d2;
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: 0.5px;
  margin-bottom: 1.2rem;
  position: relative;
  transition: all 0.4s ease;
}
.card .video-by::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--mediumseagreen-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  margin-left: 1rem;
}
.card__title {
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.3px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1.6rem;
  word-wrap: break-word;
}
.card__view-time {
  margin-top: auto;
}
.card:hover .video {
  transform: scale(1.5);
  transform-origin: center;
}
.card:hover .card__author {
  transform: scale(0.6);
  right: -0.3rem;
  bottom: -6.5rem;
  z-index: 10;
}
.card:hover .video-by {
  opacity: 0;
}
.card:hover .card__time {
  opacity: 0;
  visibility: hidden;
}

.videos__heading {
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 2.8rem;
}
.videos__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25.9rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 1.5rem;
}
@media screen and (max-width: 460px) {
  .videos__list {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=main.css.map */
