.logo-container {
   height: 4rem;
   display: flex;
   align-items: center;
   flex-shrink: 0;
}
.main-logo {
   font-size: 2rem;
   line-height: 2rem;
   font-weight: 600;
   color: var(--text-color);
   height: 2rem;
}

.sub-logo {
   width: 3rem;
   height: 3rem;
   background-color: var(--mediumseagreen-color);
   color: var(--text-color);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   display: none;
}

@media screen and (max-width: 1023px) {
   .main-logo {
      display: none;
   }
   .sub-logo {
      display: flex;
   }
}
