.time {
   font-size: 1rem;
   line-height: 1rem;
   font-weight: 500;
   letter-spacing: 0.5px;
   color: var(--text-color);
   padding: 0.5rem 0.8rem;
   background-color: rgba($color: #242730, $alpha: 0.5);
   display: inline-block;
   border-radius: 0.7rem;
}
